# Python Sanal Ortamı
venv/

# Python Cache Dosyaları
__pycache__/
*.pyc

# .NET Derleme Dosyaları
[Bb]in/
[Bb]bj/

# Sanal Ortam (Zaten ekli olabilir, kontrol edin)
venv/
.venv/

# VS Code Ayarları
.vscode/